// TOPページ
form {
  background: #fefefe;
  width: 50%;
  margin: 0 auto 1.5rem;
  padding: 1rem;
}

.App > h1 {
  margin-bottom: 1rem;
}

.page-title {
  font-family: 'Kosugi Maru', sans-serif;
}

.lists {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.list__item {
  margin-bottom: 10px;
  padding: 10px;
  background: #fefefe;
  position: relative;
  min-height: 65px;
  box-shadow: 5px 5px 5px #999;
  border-radius: 10px;
  line-height: 65px;
  & > a {
    text-decoration: none;
    color: #000;
    height: 45px;
    line-height: 45px;
  }
}
.icons {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  background: #ddd;
}

//詳細ページ
.wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 350px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin-bottom: 1rem;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  &__buttons {
    display: flex;
    & button:first-of-type {
      margin-right: 0.5rem;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
  }
}
